<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html lang="en-US">
<head>	
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- Title -->
     <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ page.game-icon }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="Unblocked Games 76">
    <link rel="canonical" href="{{ page.game-url }}">
	<meta name="publisher" content="Unblocked Gamez 76">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page.game-icon }}">
    <meta property="og:url" content="{{ page.game-url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.game-icon }}">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon.png">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!--Font Awesome css-->
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <!--Site Main Style css-->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--Responsive css-->
    <link rel="stylesheet" href="../assets/css/responsive.css">   
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6185135836913248"
     crossorigin="anonymous"></script>
    </head>
    <body>
    