<footer class="fag-footer">
    <div id="awn-z8463442"></div>
    <div class="footer-top-area">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-footer">
                        <h3>About us</h3>
            <p>UnblockedGamez76 is your ultimate destination for playing the best unblocked games online, anytime and anywhere. Whether you're at school, work, or just looking for fun, we offer a vast collection of exciting games, including action, arcade, puzzle, racing, and more. No downloads, no restrictions—just pure gaming entertainment with UnblockedGamez76!</p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="widget-content">
                        <div class="row clearfix">
                            <div class=" col-lg-6 col-md-6 col-sm-12">
                                <div class="single-footer">
                                    <h3>Tranding Games</h3>
                                    <ul>
                                        <li><a href="/game/drift-hunters-unblocked.html"><span
                                                    class="fa fa-caret-right"></span>Drift Hunters</a></li>
                                        <li><a href="/game/1v1.lol-unblocked.html"><span class="fa fa-caret-right"></span>1v1.lol Unblocked</a></li>
                                        <li><a href="/game/among-us.html"><span
                                                    class="fa fa-caret-right"></span>Among us Unblocked</a></li>
                                        <li><a href="/game/retro-bowl.html"><span class="fa fa-caret-right"></span>Retro Bowl Unblocked</a></li>
                                        <li><a href="/game/cookie-clicker.html"><span class="fa fa-caret-right"></span>Cookie Clicker Unblocked</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class=" col-lg-6 col-md-6 col-sm-12">
                                <div class="single-footer">
                                    <h3>Important Links</h3>
                                    <ul>
                                        <li><a href="../privacy-policy.html"><span class="fa fa-caret-right"></span>Privacy Policy</a></li>
                                        <li><a href="../terms-of-use.html"><span class="fa fa-caret-right"></span>Terms of use</a></li>
                                        <li><a href="../contact-us.html"><span class="fa fa-caret-right"></span>Contact us</a></li>
                                        <li><a href="../about-us.html"><span class="fa fa-caret-right"></span>About us</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 col-sm-12">
                    <div class="single-footer">
                        <h3>Contact Us</h3>
                        <div class="footer-contact">
                            <h4 class="title"><i class="fa fa-envelope"></i> Email Address</h4>
                            <p><a href="mailto:junaidsitenative@gmail.com">info@unblocked6xgames.com</a></p>
                        </div>

                        <div class="footer-contact">
                            <h4 class="title"><i class="fab fa-whatsapp"></i> Whatsapp</h4>
                            <p><a href="https://wa.me/447477226032" target="_blank">+447477226032</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom-inn">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="../assets/img/logo.png" alt="UnblockedGamez76 logo" />
                            </a>
                        </div>
                        <div class="footer-social">
                            <p>
                            <p>Wants to advertise on our Website? <a href="https://wa.me/923003837181"
                                    target="_blank">Contact us</a>!</p>

                            </p>
                        </div>
                        <div class="copyright">
                            <p>&copy; Copyrights 2025 Unblocked-GAMEZ-76 - All Rights Reserved</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!--Jquery js-->
<script src="../assets/js/jquery.min.js"></script>
<!--Bootstrap js-->
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<!--Main js-->
<script src="../assets/js/main.js"></script>



<!-- 
  <script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/service-worker.js')
  .then(function(registration) {
    console.log('ServiceWorker registration successful with scope: ', registration.scope);
  }, function(err) {
    console.log('ServiceWorker registration failed: ', err);
  });
}
</script> -->
<script>
    const gameFrame = document.getElementById('gameFrame');
    const fullscreenButton = document.getElementById('fullscreenButton');
    const gameContainer = document.getElementById('gameContainer');

    document.getElementById('playButton').addEventListener('click', function() {
        document.getElementById('gameImage').style.display = 'none';
        document.getElementById('playButton').style.display = 'none';
        gameFrame.style.display = 'block';
        fullscreenButton.style.display = 'block';
    });

    fullscreenButton.addEventListener('click', function() {
        if (!gameContainer.classList.contains('full-screen-mode')) {
            gameContainer.classList.add('full-screen-mode');
            fullscreenButton.textContent = 'Minimize';
        } else {
            gameContainer.classList.remove('full-screen-mode');
            fullscreenButton.textContent = 'Fullscreen';
        }
    });

    document.addEventListener('keydown', function(event) {
        if (event.key === "Escape") {
            gameContainer.classList.remove('full-screen-mode');
            fullscreenButton.textContent = 'Fullscreen';
        }
    });
</script>
<script>
        let coll = document.querySelector(".collapsible");
        coll.addEventListener("click", function () {
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            let toggleText = this.querySelector(".toggle-text");
            
            if (content.style.display === "block") {
                content.style.display = "none";
                toggleText.innerText = "👇";
            } else {
                content.style.display = "block";
                toggleText.innerText = "👉";
            }
        });
    </script>

</body>

</html>