/*

*******************************************
*******************************************

==== CSS INDEX

01 - IMPORTED CSS
02 - DEFAULT CSS
03 - PAGINATION CSS
04 - BREADCRUMB CSS
05 - HEADER CSS
06 - SLIDER CSS
07 - VIDEO AREA CSS
08 - GAMES AREA CSS
09 - MATCH AREA CSS
10 - PROMO AREA CSS
11 - TEAM AREA CSS
12 - PREORDER AREA CSS
13 - BLOG AREA CSS
14 - FOOTER AREA CSS
15 - ABOUT PAGE CSS
16 - SIDEBAR CSS
17 - GAMES DETAILS CSS
18 - MATCH LIST CSS
19 - MATCH DETAILS CSS
20 - 404 PAGE CSS
21 - LOGIN PAGE CSS
22 - BLOG DETAILS PAGE CSS
23 - PRODUCT PAGE CSS
24 - PRODUCT DETAILS CSS
25 - CART PAGE CSS
26 - CHECKOUT PAGE CSS
27 - CONTACT PAGE CSS
*/


/*================================================
01 - IMPORTED CSS
==================================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&amp;display=swap');

/*================================================
02 - DEFAULT CSS
==================================================*/



* {

}




/* Style the search box container */

/* Style the search input field */

/* Style the search button */

/* Hover effect for search button */

/* Responsive design for smaller screens */




html {
    overflow-y: scroll !important;
    scrollbar-color: #ff7a21 #0f0b12;
    scrollbar-width: thin;
    overflow-x: hidden
}

body::-webkit-scrollbar {
    width: 8px
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

body::-webkit-scrollbar-thumb {
    background-color: #ff7a21;
    outline: #ff7a21 solid 1px
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    color: #c4c4c4;
    line-height: 1.6em;
    font-weight: 400;
    background: #0d0e1b;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 0.75px;

}


html,
body {
    height: 100%;
}

img {
    max-width: 100%;
	border-radius: 10%;
    height: auto
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700
}

a {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-decoration: none;
     text-wrap: nowrap;
}

a:focus {
    text-decoration: none;
    outline: medium none;
    color: inherit
}

a:hover {
    color: inherit;
    text-decoration: none;
    color: inherit
}


button:focus {
    outline: medium none;

}

::-moz-placeholder {
    color: #7c8a97;
}

::-webkit-input-placeholder {
    color: #7c8a97;
}

::-webkit-select-placeholder {
    color: #7c8a97;
}

::-webkit-textarea-placeholder {
    color: #7c8a97;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.site-heading {
    position: relative;
    padding-bottom: 5px;
    text-align: center;
    width: 70%;
    margin: 0 auto 30px;
}

.site-heading h1 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 45px;
    margin: 30px;
    font-weight: 700;
    display: block;
    color: #ff7a21;
    letter-spacing: 0.03em;
    position: relative;
    padding-bottom: 5px;
    -webkit-transition: all 850ms ease;
    transition: all 850ms ease
}

.site-heading h1:after {
    position: absolute;
    content: "";
    width: 0px;
    border-color: #ff7a21 transparent !important;
    margin: 10px 0;
    border-style: solid !important;
    border-width: 4px 7px 0px 7px !important;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 100%);
	transform: translate(-50%, 100%);
    -webkit-transition: all 850ms ease;
    transition: all 850ms ease
}

.site-heading h2 span {
    color: #ff7a21;
}

.site-heading p {
    font-size: 18px;
    line-height: 28px
}

.section_140 {
    padding: 50px 0;
}

@-webkit-keyframes anim {
    to {
        width: 90px;
        height: 90px;
        margin: 0px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }


    from {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@keyframes anim {
    to {
        width: 90px;
        height: 90px;
        margin: 0px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }


    from {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

/*================================================
03 - PAGINATION CSS
==================================================*/




/*================================================
04 - BREADCRUMB CSS
==================================================*/


/*================================================
05 - HEADER CSS
==================================================*/

.fag-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(8, 3, 37, .4);
    z-index: 99;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0
}
.nav-link:focus, .nav-link:hover {
    color: #FF7A21;
}

.dropdown-menu {
    margin-top: 10px
}

.header_menu li {
    display: inline-block;
    position: relative;
    margin: 0 10px
}

.header_menu li a {
    display: block;
    color: #fff;
    padding: 25px 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.dropdown > a:after {
    font-size: 16px
}

.header_menu {
    margin-left: 2%
}

.dropdown ul {
    display: block;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 120%;
    margin-top: 10px;
    background: rgba(8, 3, 37, .8);
    border-radius: 0 0 6px 6px;
    border-top: none;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-align: left;
    width: 180px
}

.dropdown:hover ul {
    z-index: 1000;
    pointer-events: auto;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
}


dropdown-menu li a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Rajdhani', sans-serif;
}

.dropdown-menu:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}

.dropdown-menu:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 0;
    height: 0;
    margin-right: -6px;
    pointer-events: none;
    border: solid transparent;
    border-width: 6px;
    border-bottom-color: rgba(8, 3, 37, .8);
}

.dropdown ul li {
    margin: 12px 20px !important;
    display: block
}

.dropdown-menu li a {
    padding: 0;
    font-size: 15px;
    text-transform: capitalize;
    position: relative;
}

.menu-toggle:before,
.menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
}

.menu-toggle {
    position: relative;
    display: block;
    width: 25px;
    height: 20px;
    background: transparent;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.menu-toggle {
    color: #fff;
    font-size: 0;
}


/*================================================
06 - SLIDER CSS
==================================================*/


/*================================================
07 - VIDEO AREA CSS
==================================================*/

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }

    50% {
        -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
        transform: rotate(-2deg) scale(1.1, 1.1);
    }

    100% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }

    50% {
        -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
        transform: rotate(-2deg) scale(1.1, 1.1);
    }

    100% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }
}




/*================================================
08 - GAMES AREA CSS
==================================================*/

.games-item {
    float: left;
    margin: 30px 0 0;
    padding: 0 15px;
    width: 25%;
}

.games-single-item {
    background: #0d0e1b none repeat scroll 0 0;
    overflow: hidden;
    position: relative;
}

.games-desc {
    padding: 20px;
    text-align: center;
}

.games-thumb {
    position: relative
}

.games-single-item:after {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #ff7a21;
    left: 0;
    border-radius: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.games-single-item:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.games-desc h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-bottom: 5px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600
}

.games-desc h3 a {
    color: #fff
}

.games-desc p {
    margin: 0;
    font-size: 15px;
    color: #999;
    line-height: 24px;
    text-transform: capitalize;
}

/*================================================
09 - MATCH AREA CSS
==================================================*/

/*================================================
10 - PROMO AREA CSS
==================================================*/

/*================================================
11 - TEAM AREA CSS
==================================================*/

/*================================================
12 - PREORDER AREA CSS
==================================================*/

/*================================================
13 - BLOG AREA CSS
==================================================*/

/*================================================
14 - FOOTER AREA CSS
==================================================*/
.fag-footer {
    position: relative;
    background: url(../img/footer_bg.jpg) no-repeat fixed center center/cover;
    z-index: 1
}

.fag-footer:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: #080811 none repeat scroll 0 0;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    z-index: -1;
}
.single-footer {
	margin-top: 30px;
}

.single-footer h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 24px;
    margin-bottom: 20px;
}

.single-footer p {
    color: #727489;
    font-size: 16px;
    margin: 0 0 10px;
}

.single-footer ul li {
    margin: 5px 0 0
}

.single-footer ul li a {
    color: #727489;
    font-size: 15px;
    display: block
}

.single-footer ul li a:hover {
    color: #fff
}

.single-footer ul li a span {
    margin-right: 5px;
    color: #ff7a21
}

.footer-contact {
    margin-top: 15px;
}

.footer-contact h4 i {
    width: 25px;
    font-size: 16px;
    color: #ff7a21;
}

.footer-contact h4 {
    font-size: 18px;
}

.footer-contact p {
    margin-left: 25px;
    line-height: 21px;
    margin-top: 5px;
    margin-bottom: 0;
}


.footer-bottom-inn {
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #181829;
}

.footer-bottom-inn ul {
    margin: 30px 0;
    text-align: center;
}

.footer-bottom-inn ul li {
    display: inline-block;
    margin: 0 2px;
}

.footer-bottom-inn ul li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 43px;
    border-radius: 50%;
    font-size: 15px;
    background: url(../img/social_bg_hover.png);
    color: #ff7a21;
}

.footer-bottom-inn ul li a:hover {
    background: url(../img/social_bg.png);
    color: #fff;
}
.copyright p{
    margin: 0
}
.game-container {
    width: 100%;
    max-width: 100%;
    height: 75vh;
    margin: auto;
    background: white;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border:5px solid #ff944d;
}
.game-image {
    width: 200px;
    max-height: 60%;
    border-radius: 10px;
    border: 3px solid #ff7a21;
}
.play-button, .fullscreen-button {
    background-color: #ff7a21;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}
.play-button:hover, .fullscreen-button:hover {
    background-color: #ff944d;
}
.game-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}
.fullscreen-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.full-screen-mode {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: black;
}
.full-screen-mode .fullscreen-button {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    background-color: red;
}
h2 {
font-size: 2em;
color: #c4c4c4;
border-bottom: 2px solid #ff944d;
padding-bottom: 5px;
}

p {
font-size: 1.2em;
line-height: 1.6;
color: #ddd;
}

.mycontent ul,.mycontent ol {
background: #2c2c3a;
padding: 15px;
border-radius: 8px;
}

ul {
list-style-type: square;
}

ol {
list-style-type: decimal;
}

.faf-games-area .container li {
font-size: 1.2em;
padding: 8px 0;
color: #ffffff;
}

strong {
color: #ff944d;
}

h3 {
color: #66ccff;
font-size: 1.5em;
}

a {
color: #ff944d;
text-decoration: none;
font-weight: bold;
}

a:hover {
text-decoration: underline;
}

blockquote {
font-style: italic;
color: #bbbbbb;
background: #333344;
padding: 10px;
border-left: 5px solid #ff944d;
margin: 10px 0;
border-radius: 5px;
}
.collapsible {
    background-color: #ff4444;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.4s;
}

.collapsible:hover {
    background-color: #ff2222;
}
.content {
    padding: 15px;
    display: none;
    overflow: hidden;
    background-color: #2c2c3a;
    border-left: 5px solid #ffcc00;
    border-radius: 8px;
    margin-top: 5px;
    text-align: left;
}
img.game-icon {
    width: 200px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #ff944d;
    padding: 0;
}
p.game-notice {
    background: red;
    color:#fff;
    padding: 10px;
    font-weight: 700;
}
.game-notice strong {
    color: #ffcc00;
}

/*================================================
15 - ABOUT PAGE CSS
==================================================*/


/*================================================
16 - SIDEBAR CSS
==================================================*/

/*================================================
17 - GAMES DETAILS CSS
==================================================*/

/*================================================
18 - MATCH LIST CSS
==================================================*/

/*================================================
19 - MATCH DETAILS CSS
==================================================*/

/*================================================
20 - 404 PAGE CSS
==================================================*/

/*================================================
21 - LOGIN PAGE CSS
==================================================*/

/*================================================
22 - BLOG DETAILS PAGE CSS
==================================================*/

/*================================================
23 - PRODUCT PAGE CSS
==================================================*/


/*================================================
24 - PRODUCT DETAILS CSS
==================================================*/

/*================================================
25 - CART PAGE CSS
==================================================*/

/*================================================
26 - CHECKOUT PAGE CSS
==================================================*/

/*================================================
27 - CONTACT PAGE CSS
==================================================*/
